
<!-- <div class="container">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
<div class="center-align">
  <button class="btn waves-effect waves-light " type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
</div> -->
<%= render 'form' %>
